/*dropdown*/

.dropdown-menu-right {
    right: auto;
}
.dropdown-menu > .arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
}
.dropdown-menu > .arrow::before, .dropdown-menu > .arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.dropdown-menu.arrow[x-placement^="top"] {
    margin-bottom: 0.5rem;
}
.dropdown-menu[x-placement^="top"] > .arrow {
    bottom: calc(-0.5rem - 1px);
}
.dropdown-menu[x-placement^="top"] > .arrow::before {
    bottom: 0;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: rgba(0, 0, 0, 0.25);
}
.dropdown-menu[x-placement^="top"] > .arrow::after {
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #fff;
}
.dropdown-menu.arrow[x-placement^="right"] {
    margin-left: 0.5rem;
}
.dropdown-menu[x-placement^="right"] > .arrow {
    left: calc(-0.5rem - 1px);
    width: 0.5rem;
    height: 1rem;
    margin: 0.3rem 0;
}
.dropdown-menu[x-placement^="right"] > .arrow::before {
    left: 0;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: rgba(0, 0, 0, 0.25);
}
.dropdown-menu[x-placement^="right"] > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #fff;
}
.dropdown-menu.arrow[x-placement^="bottom"] {
    margin-top: 0.5rem;
}
.dropdown-menu[x-placement^="bottom"] > .arrow {
    top: calc(-0.5rem - 1px);
}
.dropdown-menu[x-placement^="bottom"] > .arrow::before {
    top: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}
.dropdown-menu[x-placement^="bottom"] > .arrow::after {
    top: 1px;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: #fff;
}
.dropdown-menu.arrow[x-placement^="left"] {
    margin-right: 0.5rem;
}
.dropdown-menu[x-placement^="left"] > .arrow {
    right: calc(-0.5rem - 1px);
    width: 0.5rem;
    height: 1rem;
    margin: 0.3rem 0;
}
.dropdown-menu[x-placement^="left"] > .arrow::before {
    right: 0;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: rgba(0, 0, 0, 0.25);
}
.dropdown-menu[x-placement^="left"] > .arrow::after {
    right: 1px;
    border-width: 0.5rem 0 0.5rem 0.5rem;
    border-left-color: #fff;
}


/*modal*/

.modal{
    display: block;
}

/*popup-bottom*/

.popup-bottom .modal-dialog,
.popup-top .modal-dialog,
.popup-left .modal-dialog,
.popup-right .modal-dialog{
    margin: 0;
    position: fixed;
}
.popup-bottom .modal-dialog,
.popup-top .modal-dialog{
    max-width: 100vw;
    width: 100vw;
}
.popup-left .modal-dialog,
.popup-right .modal-dialog{
    max-width: 33vw;
    width: 33vw;
    height: 100vh;
}
.popup-left .modal-dialog .modal-content,
.popup-right .modal-dialog .modal-content{
    height: 100vh;
}
.popup-bottom .modal-dialog{
    bottom: 0;
}
.popup-top .modal-dialog{
    top: 0;
}
.popup-left .modal-dialog{
    left: 0;
}
.popup-right .modal-dialog{
    right: 0;
}
.modal.fade.popup-bottom .modal-dialog {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
}
.modal.fade.popup-left .modal-dialog {
    -webkit-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
}
.modal.fade.popup-right .modal-dialog {
    -webkit-transform: translate(50px, 0);
    transform: translate(50px, 0);
}
.modal.show.popup-bottom .modal-dialog,
.modal.show.popup-left .modal-dialog,
.modal.show.popup-right .modal-dialog{
     -webkit-transform: none;
     transform: none;
 }

/*picker*/

.picker{
    position: relative;
    overflow: hidden;
    height: 200px;
}
.picker-indicator{
    position: absolute;
    width: 100%;
    border: solid 1px #cccccc;
}
.picker-content{
    cursor: grab;
    width: 100%;
    font-size: 16px;
    text-align: center;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
    -webkit-user-select: none;
    user-select: none;
}
.picker-mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4)), -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4)), linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
    background-repeat: no-repeat;
    background-position: top, bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
}

/*menu*/

.menu{
    padding-left: 0;
    list-style: none;
}
.menu-item a{
    display: block;
    background-color: #343a40;
    color: #fff;
    padding: 0 15px;
    height: 44px;
    line-height: 44px;
    text-indent: 35px;
    overflow: hidden;
}
.menu-item a:hover{
    color: #fff;
}
.menu .fa{
    text-indent: -35px;
    font-size: 1.25rem;
}
.menu span + .fa{
    float: right;
    line-height: 44px;
    text-indent: 0;
    transition: transform 0.35s;
}
.menu .menu{
    display: none;
}
.menu .extend .menu{
    display: block;
}
.menu .extend span + .fa{
    transform: rotate(180deg);
}

/*----------*/

html{
    font-size: 14px;
}
.layout{
    display: flex;
    flex-direction: column;
}
.layout-header{
    position: sticky;
    top: 0;
    z-index: 1039;
    display: flex;
}
.layout-brand{
    display: block;
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}
.layout-brand:hover{
    color: #fff;
}
.layout-brand .toggle{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: width 0.35s ease-in-out;
}
.layout-brand .toggle.max{
    width: 230px;
}
.layout-brand .toggle.min{
    width: 50px;
}
.layout-topbar{
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #343a40;
}
.layout-topbar .toggle{
    display: block;
    background-color: #343a40;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.layout-topbar .nav{
    display: flex;
    margin-left: auto;
    padding-right: 15px;
}
.layout-topbar .dropdown-toggle{
    display: block;
    background-color: #343a40;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.layout-topbar .dropdown-menu{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.layout-body{
    display: flex;
}
.layout-aside{
    position: sticky;
    z-index: 1038;
    top: 50px;
    height: calc(100vh - 50px);
    flex-shrink: 0;
    background-color: #343a40;
    transition: width 0.35s ease-in-out;

}
.max .layout-aside{
    width: 230px;
}
.min .layout-aside{
    width: 50px;
}
.layout-article{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.layout-title{
    position: sticky;
    z-index: 1038;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
}
.layout-content{
    padding: 15px;
}
.anchor:before{
    display: block;
    height: 116px;
    margin-top: -116px;
    visibility: hidden;
    content: "";
}
